<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create new Contact</title>
</head>
<body>
<div align="center">
    <h1>Create new Contact</h1>
    <br>
    <form th:action="@{'/saveContact/' + ${user.id}}" th:object="${contact}" method="post">
        <table border="0" cellpadding="10">
                <input type="hidden" th:field="${contact.id}" readonly="readonly">
                <td>Name:</td>
                <td><input type="text" th:field="${contact.name}"/></td>
            </tr>
            <tr>
                <td>Surname:</td>
                <td><input type="text" th:field="${contact.surname}"/></td>
            </tr>
            <tr>
                <td>Phone number:</td>
                <td><input type="text" th:field="${contact.phoneNumber}"/></td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit">Save</button></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>