<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Phone Book</title>
</head>
<body>
<div align="center">
    <h1>Users List</h1>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Phone number</th>
            <th>Actions</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.name}"></td>
            <td th:utext="${user.surname}"></td>
            <td th:utext="${user.phoneNumber}"></td>
            <td>
                <a th:href="@{'/userContacts/' + ${user.id}}">Contacts</a>
            </td>
        </tr>
    </table>
    <br>
    <a href="newUser">Create new User</a>
</div>
</body>

</html>